@charset "UTF-8";
/**************** media quieries */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #0000;
  border-color: #0000 black #fff black;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 10px solid black !important;
  border-color: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.25em;
}
@media screen and (min-width: 601px) {
  body {
    font-size: 16px;
    line-height: 1.375em;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.25em;
  color: #c13c27;
}
@media screen and (min-width: 601px) {
  h1 {
    font-size: 48px !important;
    line-height: 1.05em;
  }
}

h2 {
  font-size: 26px !important;
  line-height: 1.15384615em;
  color: black;
  font-weight: 400 !important;
}
@media screen and (min-width: 601px) {
  h2 {
    font-size: 36px !important;
    line-height: 1.25em;
  }
}

button {
  font-family: sans-serif;
  font-weight: 900;
}

a:hover {
  color: #c13c27;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (min-width: 601px) {
  i {
    font-size: 31px !important;
  }
}

input {
  font-size: 13px !important;
}

.btn-large {
  background-color: #acd0c0 !important;
}
.btn-large-red {
  background-color: red !important;
}

#ajout_panier {
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 601px) {
  #ajout_panier {
    margin-top: 20px;
  }
}

#btnPanier {
  text-transform: none !important;
}

nav {
  background-color: white !important;
}
nav #logo {
  margin-left: 10px;
  height: 50px !important;
}
@media screen and (min-width: 601px) {
  nav #logo {
    height: 70px !important;
  }
}
nav a {
  color: black !important;
  font-family: sans-serif;
}

#iconPanier {
  color: brown;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: -16px;
  right: 11px;
}

.container_page {
  display: grid;
  grid-template-rows: 0.1fr 2fr 0.1fr;
  row-gap: 20px;
}
@media screen and (min-width: 601px) {
  .container_page {
    row-gap: 10px;
  }
}

#formulaire {
  margin-left: 5%;
  margin-right: 25%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 601px) {
  #formulaire {
    margin-right: 60%;
    margin-top: 50px;
  }
}
#formulaire input {
  margin-top: 10px;
  font-size: 20px;
}
#formulaire #adresse {
  margin-top: 20px;
}
#formulaire #valider {
  margin-top: 30px !important;
  width: max-content;
  font-size: 15px;
  padding: 5px;
  border-radius: 2px;
  margin-top: 10px;
  background-color: #26a69a;
  color: white;
  transform: scale(1);
  transition: 1000ms ease-in-out;
  box-shadow: #57a9f1de 2px 1px 4px;
  border: 0px;
}
#formulaire #valider:hover {
  transform: scale(1.2);
  cursor: pointer;
}

footer {
  display: flex !important;
  background-color: #039be5;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 601px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
}
footer p {
  text-align: center;
  color: #fff !important;
  font-weight: 700;
  margin: 10px;
}
footer .social {
  color: #fff !important;
}

.option_produit label,
.option_produit footer {
  font-family: sans-serif;
}
.option_produit label {
  font-size: 1rem;
  padding-right: 10px;
}
.option_produit select {
  font-size: 0.9rem;
  padding: 2px 5px;
  display: inline;
  background-color: white;
}

.container_page.home a {
  color: #0066c0;
}
@media screen and (min-width: 601px) {
  .container_page.home section.home_page {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.container_page.home h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.container_page.home .slogan {
  text-align: center;
}
@media screen and (min-width: 601px) {
  .container_page.home .content {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}
.container_page.home article {
  text-align: center;
  margin-top: 20px;
  position: relative;
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.container_page.home article .produits_page__option {
  margin: 14px;
  border: solid 1px rgba(79, 100, 87, 0.06);
  background-color: whitesmoke;
}
@media screen and (min-width: 601px) {
  .container_page.home article .produits_page__option {
    width: 40%;
  }
}
.container_page.home article img {
  height: 150px;
  width: inherit;
  padding: 5px;
  scale: 1;
  transform: scale(1);
  transition: all 700ms ease-in-out;
  z-index: 3;
  margin-top: 10px;
}
@media screen and (min-width: 601px) {
  .container_page.home article img {
    height: inherit;
  }
}
.container_page.home article img:hover {
  transform: scale(1.5);
  opacity: 0.8;
}
.container_page.home article p {
  font-weight: bold;
}
.container_page.home article .prix {
  color: #c13c27;
  font-weight: 500;
  font-family: sans-serif;
  margin-top: 10px;
}
.container_page.home article .card-image {
  overflow: hidden;
}
.container_page.home article .presentation {
  color: black;
  margin-block-start: 0em;
}
.container_page.home aside {
  min-width: 30%;
}
.container_page.home .produits {
  text-align: center;
}

.container_page.produits #page_defaut {
  text-align: center !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container_page.produits #produits_page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 601px) {
  .container_page.produits #produits_page {
    flex-direction: row;
  }
}
.container_page.produits #produits_page a {
  font-size: 13px !important;
}
.container_page.produits #produits_page #presentation_produit {
  margin-left: 30px;
  display: none !important;
}
.container_page.produits #produits_page #presentation_produit .description {
  display: none;
}
.container_page.produits #produits_page #presentation_produit .title_produit {
  margin: 0px;
}
@media screen and (min-width: 601px) {
  .container_page.produits #produits_page #presentation_produit {
    width: 25%;
    display: flex;
    flex-direction: column;
  }
}
.container_page.produits #produits_page #produits_page__option {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
@media screen and (min-width: 601px) {
  .container_page.produits #produits_page #produits_page__option {
    max-width: 50%;
    justify-content: center;
    align-items: center;
  }
}
.container_page.produits #produits_page #produits_page__option #produit_choisit {
  max-height: 200px;
}
@media screen and (min-width: 601px) {
  .container_page.produits #produits_page #produits_page__option #produit_choisit {
    width: 60%;
    max-height: 300px;
  }
}
.container_page.produits #produits_page #produits_page__option p {
  text-align: center;
}
@media screen and (min-width: 601px) {
  .container_page.produits #produits_page #produits_page__option p {
    width: 50%;
  }
}
.container_page.produits #produits_page #produits_page__option #prix {
  color: #c13c27;
  font-family: sans-serif;
  border-bottom: lightgray solid 1px;
  padding-bottom: 6px;
}
.container_page.produits #produits_page .option_produit label {
  color: #c13c27;
}
.container_page.produits #produits_page #titre_produit {
  margin-bottom: 10px;
  color: #0066c0;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
}
.container_page.produits #produits_page #description {
  margin: 10px;
}
.container_page.produits #produits_page #option {
  margin-bottom: 70px;
}
.container_page.produits #produits_page #lentille-select {
  margin-top: 20px;
}
.container_page.produits input {
  border-bottom-color: #0066c0 !important;
}

.container_page.panier #page_defaut {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_page.panier #panier {
  display: none;
}
.container_page.panier #titre_panier {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  align-items: baseline;
  border-bottom: solid 1px lightgray;
}
@media screen and (min-width: 601px) {
  .container_page.panier #titre_panier {
    margin-inline-start: 10%;
    margin-inline-end: 10%;
  }
}
.container_page.panier #titre_panier h2 {
  color: #111 !important;
  font-family: sans-serif;
}
.container_page.panier .panierProduit {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  border-bottom: solid 1px lightgray;
}
@media screen and (min-width: 601px) {
  .container_page.panier .panierProduit {
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    align-items: center;
  }
}
.container_page.panier .panierProduit img {
  height: 30px;
}
@media screen and (min-width: 601px) {
  .container_page.panier .panierProduit img {
    height: 180px;
    width: 256px;
    padding-top: 10px;
  }
}
.container_page.panier #supp_panier {
  text-align: center;
  margin-top: 10%;
}
.container_page.panier #valid_panier {
  text-align: center;
}
.container_page.panier .resumeText {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.container_page.panier .resumeTitre {
  color: #0066c0;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  font-family: sans-serif;
}
.container_page.panier .resumeTitre:hover {
  color: brown;
  text-decoration: underline;
}
.container_page.panier .produitOption {
  margin-right: 20px;
  margin-left: 20px;
  color: #0066c0;
}
.container_page.panier .produitQuantite {
  color: brown;
  margin-right: 20px;
  margin-left: 20px;
}
.container_page.panier .prixPanier {
  color: brown;
  white-space: nowrap;
  font-family: sans-serif;
}
.container_page.panier #prixTotal {
  color: brown;
  padding-right: 5px;
  font-family: sans-serif;
}
.container_page.panier .containerImage {
  padding-top: 30px;
}
.container_page.panier #totalPanier {
  text-align: right !important;
}
@media screen and (min-width: 601px) {
  .container_page.panier #totalPanier {
    margin-inline-end: 10%;
  }
}
.container_page.panier #totalPanier #pluriel,
.container_page.panier #totalPanier #quantitéTotal {
  color: #0066c0;
}
.container_page.panier #formulaire_container {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}
@media screen and (min-width: 601px) {
  .container_page.panier #formulaire_container {
    margin-inline-start: 10%;
    margin-inline-end: 10%;
  }
}
.container_page.panier #formulaire_titre {
  text-align: left;
  color: #0066c0;
  font-family: sans-serif;
  text-decoration: dashed solid 1px blink;
  border-bottom: gray 1px solid;
}
.container_page.panier label {
  font-size: 13px;
  color: black;
  font-weight: 900;
}

#box {
  visibility: hidden;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: max-content;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  background-color: crimson;
  position: fixed;
  align-items: center;
  top: 29vh;
  left: 38vw;
  z-index: 99;
}
#box button {
  padding: 3px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}
#box p {
  color: white;
  font-weight: 700;
}
#box #box_btn {
  display: flex;
  flex-direction: row;
}

.error {
  background-image: url("/images/romson-preechawit-Vy2cHqm0mCs-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*# sourceMappingURL=style.css.map */
