/**************** media quieries */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.2rem !important;
  font-style: italic;
}
@media screen and (min-width: 601px) {
  h1 {
    font-size: 4.2rem !important;
  }
}

h2 {
  font-size: 1.56rem !important;
  color: #4F6457;
  font-weight: 600 !important;
}
@media screen and (min-width: 601px) {
  h2 {
    font-size: 2.56rem !important;
  }
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

a:hover {
  color: #D9B44A;
  cursor: pointer;
  font-weight: bold;
}

.btn-large {
  background-color: #ACD0C0 !important;
}

nav {
  background-color: #75B1A9 !important;
}
nav #logo {
  margin-left: 10px;
  height: 50px;
}
@media screen and (min-width: 601px) {
  nav #logo {
    height: 70px;
  }
}

.container_page {
  display: grid;
  row-gap: 20px;
}

footer {
  display: flex !important;
  background-color: #75B1A9;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
@media screen and (min-width: 601px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
}
footer p {
  text-align: center;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}
footer .social {
  color: #fff;
}

@media screen and (min-width: 601px) {
  section.home_page {
    margin-left: 15%;
    margin-right: 15%;
  }
}

h1 {
  text-align: center;
}

.slogan {
  text-align: center;
}

@media screen and (min-width: 601px) {
  .content {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}

article {
  text-align: center;
  margin-top: 20px;
  position: relative;
}
article span {
  position: absolute;
  left: 120px;
  bottom: 160px;
  color: #D9B44A;
  font-weight: bold;
  z-index: -2;
}
article img {
  height: 250px;
  padding: 5px;
  transform: scale(1);
  transition: all 700ms ease-in-out;
  z-index: 3;
}
@media screen and (min-width: 601px) {
  article img {
    min-height: 350px !important;
  }
}
article img:hover {
  transform: scale(1.1);
  opacity: 0.1;
}
article .presentation {
  color: #4F6457;
  margin-block-start: 0em;
  font-size: 16px;
}

aside {
  min-width: 30%;
}

.produits {
  text-align: center;
}

.produits_page {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media screen and (min-width: 601px) {
  .produits_page {
    flex-direction: row;
  }
}
.produits_page__option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 601px) {
  .produits_page__option {
    width: 50%;
    flex-direction: row;
  }
}
.produits_page img {
  height: 250px;
  padding: 5px;
  transform: scale(1);
  transition: all 700ms ease-in-out;
}
@media screen and (min-width: 601px) {
  .produits_page img {
    min-height: 350px !important;
  }
}
.produits_page li:after {
  content: " + ";
  color: #4F6457;
}
.produits_page #description {
  color: #4F6457;
  text-align: center;
}
.produits_page #prix {
  color: #D9B44A;
}
.produits_page #produit_choisit {
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
