.btn-large {
  background-color: $colour-third !important;

  &-red {
    background-color: red !important;
  }
}

#ajout_panier {
  margin-top: 40px;
  text-align: center;

  @include desktop {
    margin-top: 20px;
  }
}

#btnPanier {
  text-transform: none !important;
}
