body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.25em;

  @include desktop {
    font-size: 16px;
    line-height: 1.375em;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.25em;
  color: $colour-secondary;

  @include desktop {
    font-size: 48px !important;
    line-height: 1.05em;
  }
}

h2 {
  font-size: 26px !important;
  line-height: 1.15384615em;
  color: $colour-accent;
  font-weight: 400 !important;

  @include desktop {
    font-size: 36px !important;
    line-height: 1.25em;
  }
}

button {
  font-family: sans-serif;
  font-weight: 900;
}

a:hover {
  color: $colour-secondary;
  cursor: pointer;
  font-weight: bold;
}

i {
  @include desktop {
    font-size: 31px !important;
  }
}

input {
  font-size: 13px !important    ;
}
