.container_page.panier {
  #page_defaut {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #panier {
    display: none;
  }

  #titre_panier {
    display: flex;
    justify-content: space-between;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    align-items: baseline;
    border-bottom: solid 1px lightgray;

    @include desktop {
      margin-inline-start: 10%;
      margin-inline-end: 10%;
    }

    h2 {
      color: #111 !important;
      font-family: sans-serif;
    }
  }

  .panierProduit {
    display: flex;
    justify-content: space-between;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    border-bottom: solid 1px lightgray;

    @include desktop {
      margin-inline-start: 10%;
      margin-inline-end: 10%;
      align-items: center;
    }

    img {
      height: 30px;

      @include desktop {
        height: 180px;
        width: 256px;
        padding-top: 10px;
      }
    }
  }

  #supp_panier {
    text-align: center;
    margin-top: 10%;
  }

  #valid_panier {
    text-align: center;
  }

  .resumeText {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .resumeTitre {
    color: #0066c0;
    text-transform: uppercase;
    margin-right: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    &:hover {
      color: brown;
      text-decoration: underline;
    }
  }

  .produitOption {
    margin-right: 20px;
    margin-left: 20px;
    color: #0066c0;
  }

  .produitQuantite {
    color: brown;
    margin-right: 20px;
    margin-left: 20px;
  }

  .prixPanier {
    color: brown;

    white-space: nowrap;
    font-family: sans-serif;
  }

  #prixTotal {
    color: brown;
    padding-right: 5px;
    font-family: sans-serif;
  }

  .containerImage {
    padding-top: 30px;
  }

  #totalPanier {
    text-align: right !important;

    @include desktop {
      margin-inline-end: 10%;
    }

    #pluriel,
    #quantitéTotal {
      color: #0066c0;
    }
  }

  #formulaire_container {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-inline-start: 5px;
    margin-inline-end: 5px;

    @include desktop {
      margin-inline-start: 10%;
      margin-inline-end: 10%;
    }
  }

  #formulaire_titre {
    text-align: left;
    color: #0066c0;

    font-family: sans-serif;
    text-decoration: dashed solid 1px blink;
    border-bottom: gray 1px solid;
  }

  label {
    font-size: 13px;
    color: black;
    font-weight: 900;
  }

  #erreurmessage{
    color: red;
    text-align: center;
    padding-left: 50px;
  }
}


#box{

      visibility: hidden;
      border: solid black 1px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: max-content;
      padding: 20px;
      width: 300px;
      border-radius: 10px;
      background-color: crimson;
      position: fixed;
      align-items: center;
      top: 29vh;
      left: 38vw;
      z-index: 99;
      
  
      button{
        padding: 3px;
        margin: 5px;
      border-radius: 3px;
      cursor: pointer;
      }

      p{
        color: white;
        font-weight: 700;
      }

      #box_btn{
        display: flex;
        flex-direction: row;
      }
  
}
