.produits_page{
  display: flex;
  justify-content: flex-start;;
  flex-direction: column;
  align-items: center;

  @include desktop{
    flex-direction: row;
  }

  

  a{
    font-size: 13px !important;
  }



//section gauche
#presentation_produit{
    
  margin-left: 30px;
  display: none !important;

  .description{
    display: none;
  }

  .title_produit{
    margin: 0px;
  }

  @include desktop{
    width: 25%;
  display: flex;
  flex-direction: column;
  }

  
}

//section milieu
#produits_page__option{
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  img{
    max-height: 250px;
  }

  p{
    text-align: center;
  }

  #prix{
    color: $colour_secondary;
  }

}


//section droit
#produit_choisit{
  height: 400px !important;
}

}