$colour-primary: white;
$colour-secondary: #c13c27;
$colour-accent: black;
$colour-third: #acd0c0;
$colour-white: #fff;

/**************** media quieries */ ////////////////////////////
$breakpoints: (
  desktop: 601px,
);
